
#colum2{
	width: 600px;
    padding: 10px 20px 10px 20px;
    column-count: 2;
    column-gap: 10px;
}

#colum4 {
    width: 600px;
    padding: 10px 20px 10px 20px;
    column-count: 4;
    column-gap: 10px;     
}

#visor_imagenes {
  	text-align: center;
  	color: #fff;
  	background-color: #000;
}

#cabecera_fondo {
	padding-top: 145px;
	font-size: 40px;
  	color: #000;
  	background-color: #FFA500;  	
}

#cabecera_articulo{
	font-size: 15px;
	font-weight: bold;
}

img {
  width: 150px;
  height: 150px;
  margin: 3% 3% 3% 3%;
}